<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeSignalService.TimeSignalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimeSignalService.TimeSignalSettings>
            <setting name="Zero" serializeAs="String">
                <value />
            </setting>
            <setting name="One" serializeAs="String">
                <value />
            </setting>
            <setting name="Two" serializeAs="String">
                <value />
            </setting>
            <setting name="Three" serializeAs="String">
                <value />
            </setting>
            <setting name="Four" serializeAs="String">
                <value />
            </setting>
            <setting name="Five" serializeAs="String">
                <value />
            </setting>
            <setting name="Six" serializeAs="String">
                <value />
            </setting>
            <setting name="Seven" serializeAs="String">
                <value />
            </setting>
            <setting name="Eight" serializeAs="String">
                <value />
            </setting>
            <setting name="Nine" serializeAs="String">
                <value />
            </setting>
            <setting name="Ten" serializeAs="String">
                <value />
            </setting>
            <setting name="Eleven" serializeAs="String">
                <value />
            </setting>
            <setting name="Twelve" serializeAs="String">
                <value />
            </setting>
            <setting name="Thirteen" serializeAs="String">
                <value />
            </setting>
            <setting name="Fourteen" serializeAs="String">
                <value />
            </setting>
            <setting name="Fifteen" serializeAs="String">
                <value />
            </setting>
            <setting name="Sixteen" serializeAs="String">
                <value />
            </setting>
            <setting name="Seventeen" serializeAs="String">
                <value />
            </setting>
            <setting name="Eighteen" serializeAs="String">
                <value />
            </setting>
            <setting name="Nineteen" serializeAs="String">
                <value />
            </setting>
            <setting name="Twenty" serializeAs="String">
                <value />
            </setting>
            <setting name="Twentyone" serializeAs="String">
                <value />
            </setting>
            <setting name="Twentytwo" serializeAs="String">
                <value />
            </setting>
            <setting name="Twentythree" serializeAs="String">
                <value />
            </setting>
        </TimeSignalService.TimeSignalSettings>
    </userSettings>
</configuration>